.prompt-container {
  background-color: #ad998b;
  padding: 5px;
  position: absolute;
  width: 400px;
  height: 150px;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 10px 10px 20px;
}

.prompt-header {
  background-color: #e1e0e0;
  color: #001c30;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-button {
  font-weight: 500;
  border: none;
  margin: 1px;
  border-radius: 5px;
}

.alert-button:hover {
  border: none;
  margin: 1px;
  background-color: rgba(128, 128, 128, 0.534);
}

.alert-button-danger {
  font-weight: 500;
  color: #e1e0e0;
  background-color: rgb(180, 54, 54);
  border: none;
  margin: 1px;
  border-radius: 5px;
}

.alert-button-danger:hover {
  border: none;
  margin: 1px;
  background-color: rgba(133, 7, 7, 0.685);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .prompt-container {
    position: absolute;
    width: 320px;
    height: 150px;
    z-index: 9999;
  }

  .prompt-header {
    height: 85px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .alert-button,
  .alert-button-danger {
    margin-top: -10px;
    height: 40px;
    width: 100px;
  }
}
