.book-item-container {
  width: 350px;
  height: 400px;
  margin: 35px;
  background: rgb(212, 175, 55);
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-shadow: 3px 3px 14px;
  display: flex;
  padding: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-item-container:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
