.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: auto;
  width: auto;
  background-image: url("./Img/Background.jpg");
}
.App-header {
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}
.App-link {
  color: #61dafb;
}
@media (min-width: 650px) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  }
}
