.App {
  text-align: center;
}
html {
  height: 100%;
}

.App-logo {
  height: 40px;
}

.App-link {
  color: #61dafb;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

.dark-theme {
  background-color: rgb(24, 26, 27);
  color: #fff;
  height: 100vh;
}

#dark-theme .foot {
  background-color: rgb(36, 39, 41);
  color: #fff;
}
