@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
#up {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 700;

}

#us {
  margin: 30px;
  font-weight: 16px;
  font-size: x-large;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.accordion-button {
  background-color: #5494a79e;
}

.accordion-button-dark {
  background-color:   #001C30;
}

.text-acordion-dark{
  color: #d8c4b6;
}

.accordion-item-dark{
  background-color: #808b94;
  color: #d8c4b6;
}

.accordion-header{

}